[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyjwt = {extras = ["crypto"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
requests = "*"
install = "*"
python-multipart = "*"
aiofiles = "*"
firebase-admin = "*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.7"
